
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
}
p{
    padding: 2%;
}
#container {
    width: 100%;
}
header {
    background-image: url("banner3.jpg");
    background-repeat: repeat;
    background-size: cover;
    color: white;
    font-size: 65%;
    text-align: center;
    padding:20px;
    
}
button {
background-color:#007acc;
padding: 5px 20px;
border-radius: 40px;
margin-top: 20px;
color: white;
border-style: none;
}
h2{
font-weight: bold;
color: grey;
text-align: center;
margin: 30px auto 10px auto;
font-size: medium;
}
span{
color: orange;
border-bottom: 3px solid grey;
border-left: 3px solid grey;
border-top: 3px solid gray;
}
ul{
    list-style-type: none;
}
nav {
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    background-color: #55ACEE;
    color: white;
    padding: 20px 0px;
    margin: 5px 15px;

}
h3 {
    text-align: center;
    text-transform: capitalize;
    font-size: 125%;
    margin: 50px auto 20px auto;
    border-bottom: 1px solid black;
    width: 60%;
    padding-bottom: 5px;
}
hr {
    width: 40%,
}
h4 {
    text-transform: capitalize;
    color:#55ACEE;
    text-align: center;
    font-size: 1.1em;
    margin: 2px;
}
h5{
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}
q {
    text-align: left;
    font-size: 75%;
    line-height: 30px;
    
}
 .bullet{
     text-align: left;
     font-size: 80%;
     padding: 5px 0px 5px 20px;
     color: rgb(155, 155, 155);
     list-style-type: none;
     line-height: 40px;
     text-transform: capitalize;
     
     }

.about{
        margin: 0 auto;
        width: 80%;
        height: 250px;
        background-image: url("about.jpg");
        
     }
#contact{
    text-align: center;
    font-size: 110%;
    background-color:#90EE90;
    padding: 10%;
    color: white;
    }
    #social{
        text-align: center;
        font-size: 110%;
        background-color:#F08080;
        padding: 10%;
        color: white;
    }
    #address{
        text-align: center;
        font-size: 110%;
        background-color:#3366cc;
        padding:15% 2%;
        color: white;

    }
    
    #house{
        background-color:rgb(74, 154, 228); 
        text-align: center;
        
    }
    input, textarea {
        width: 90%;
        padding: 10px;
margin: 5px;
    }
    #submit{
        border-radius: 2px;
        background-color: orange;
        color: white;
        margin-left: 5px;
        margin-bottom: 40px;
}
footer{
    background-color: rgb(39, 38, 38);
    color: white;
    padding: 30px 8px;
    height: 100px;
}
.fa-arrow-alt-circle-right {
color: orange;
margin-right: 10px;
text-align: left;
}
section {
    background-color:#55ACEE;
    width: 90%;
    padding: 5%;
    color: white;
    margin: 20px;
}
h6{
    font-size: 110%;
    color: black;
}
section > img {
border-radius: 50%;
border:2px solid white;
width: 100px;
float: left;
padding: 5px;

}
section > p {
    clear: left;
}