
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


#container {
    width: 90%;
}
header {
    background-image: url("banner3.jpg");
    background-repeat: repeat;
    background-size: cover;
    color: white;
    font-size: 0.65em;
    text-align: center;
    padding:20px;
    width: 100%;
    
}
button {
    background-color:#007acc;
    padding: 5px 20px;
    border-radius: 40px;
    margin-top: 20px;
    color: white;
    border-style: none;
}
h2 {
    font-weight: bold;
    color: grey;
    text-align: center;
    margin: 30px auto 10px auto;
    font-size: medium;
}
span {
    color: orange;
    border-bottom: 3px solid grey;
    border-left: 3px solid grey;
    border-top: 3px solid gray;
}
ul{
    list-style-type: none;
}
nav {
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    background-color: #55ACEE;
    color: white;
    padding: 20px 0px;
    margin: 5px 15px;
    width: 100%;
}
h3 {
    text-align: center;
    text-transform: capitalize;
    font-size: 125%;
    margin: 50px auto 20px auto;
    border-bottom: 1px solid black;
    width: 60%;
    padding-bottom: 5px;
}
hr {
    width: 40%,
}
h4 {
    text-transform: capitalize;
    color:#55ACEE;
    text-align: center;
    font-size: 1.1em;
    margin: 2px;
}
h5 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}
q {
    box-sizing: border-box;
    font-size: 0.75em;
    margin: 2% auto;
}
.bullet {
     text-align: center;
     font-size: 0.8em;
     padding: 5%;;
     color: rgb(155, 155, 155);
     list-style-type: none;
     text-transform: capitalize;
     
     }

.about {
    margin: 0 auto;
    width: 80%;
    height: 250px;
    background-image: url("about.jpg");
        
     }
#contact {
    text-align: center;
    font-size: 110%;
    background-color:#90EE90;
    padding: 5%;
    color: white;
    width: 100%;
    }
#social {
    text-align: center;
    font-size: 110%;
    background-color:#F08080;
    padding: 5%;
    color: white;
    width: 100%;
    }
#address {
    text-align: center;
    font-size: 110%;
    background-color:#3366cc;
    padding: 5%;
    color: white;
    width: 100%;
    }
    
#house {
    background-color:rgb(74, 154, 228); 
    text-align: center;
    padding: 5%;
    width: 100%;   
    }
input, textarea {
    width: 90%;
    padding: 10px;
    margin: 5px;
    }
#submit {
    border-radius: 2px;
    background-color: orange;
    color: white;
    margin-left: 5px;
    margin-bottom: 40px;
}
footer {
    background-color: rgb(39, 38, 38);
    color: white;
    padding: 10%;
    width: 100%;
}
.fa-arrow-alt-circle-right {
    color: orange;
    margin-right: 10px;
    text-align: left;
}
section {
    background-color:#55ACEE;
    padding: 5%;
    color: white;
    width: 100%;
}
h6 {
    font-size: 110%;
    color: black;
}
section > img {
    border-radius: 50%;
    border:2px solid white;
    width: 100px;
    float: left;
    padding: 5px;

}
article > p {
    clear: left;
}