body {
    background-image: url(http://blogs.sitepointstatic.com/images/tech/687-background-repeat-round.png);
    font-size: 1.5em;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
  

}