#playground{
    background-image: url(./field.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px dotted red;
    width: 100%;
    height: 900px;
}

#play{
    width: 150px;
    position: absolute;
}
#stop{
position: absolute;
right: 30px;
bottom: 30px;
background-color: darkred;
padding: 10px;
color: white;
border-style: none;
}